# =========================
# 1. Archivos del Sistema / Editores
# =========================
.DS_Store
Thumbs.db
.vscode/
.idea/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# =========================
# 2. Frontend (React / Node.js)
# =========================
frontend/node_modules/
frontend/dist/
frontend/dist-ssr/
frontend/build/
frontend/.cache/
frontend/*.local
*.map

# =========================
# 3. Backend (Laravel / PHP) - Post MVP
# =========================
backend/vendor/
backend/node_modules/
backend/public/build
backend/public/hot
backend/public/storage
backend/bootstrap/cache/
backend/database/database.sqlite
backend/storage/
!backend/storage/.gitignore
!backend/storage/**/.gitignore
backend/storage/*.key
backend/Homestead.json
backend/Homestead.yaml
backend/.phpunit.result.cache

# =========================
# 4. Variables de Entorno (¡Súper importante!)
# =========================
.env
.env.local
.env.*.local
frontend/.env
backend/.env
